#users-list {
    padding: 10px;
    width: 1000px;
}

#users-list div.user-info:nth-child(2n+1) {
    background-color: #d7faf1;
    padding: 3px;
}

#loader[hidden] {
    display: none;
}

.hidden {
    display: none;
}

#login {
    width: 300px;
    border: 2px solid #84e0e2;
    border-radius: 5px;
    background-color: #d6f3f4;
    padding: 10px;
    margin: 0 auto;
}

#login input {
    width: 295px;
    margin-bottom: 10px;
}

#login input:last-child {
    margin-bottom: 0px;
}

#login input[type="submit"] {
    width: 302px;
}

.input-error {
    border: solid 1px red;
}
